
<div class="topnav">
  <a href="#home">Home</a>

  <% if current_user.admin? %>
    <%= link_to "Add Item", new_item_path(current_user) %>
  <% end %>

  <div style="float: right; margin-right: 20px"> 
    <%= link_to current_user.name, user_path(current_user) %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 
    'navbar-link' %>
  </div>

  <div class="search-container">
    <form>
      <input class="searchbar" type="text" placeholder="Search" name="search">
      <button style="width: 30px; height: 30px " type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <% if current_user.admin? %>
        <th>Edit</th>
        <th>Delete</th>
      <% end %>
    </tr>

<!-- index of items -->

<div>
  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <% if current_user.admin? %>
        <th>Edit</th>
        <th>Delete</th>
      <% end %>
    </tr>

    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.quantity %></td>

      <tr>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= item.quantity %></td>


        <td>
          <table>
            <th>-</th>
            <th>0</th>
            <th>+</th>
          </table>
        </td>

    <% end %>
  </table>
</div>
